*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  display:flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 60px;
  font-weight: 500;
}

.Bold{
  font-weight: bold;
  margin-left: 10px;
}

body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}

.container{
  background-color: white;
  margin-right: 560px;
  margin-left: 560px;
  border-radius: 5px;
  box-shadow: 2px 6px 15px -4px rgba(0, 0, 0, 1);
}

.form_container{
  display: flex;
  justify-content: center;
}

.description{
  margin-bottom: 10px;
  font-size: 16px;
}

::placeholder{
  font-size: 17px;
  padding-left: 10px;
}

.button{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

button{
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-size: 20px;
  background-color: #ffcc33;
  font-weight: 550;
}

.result{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  font-size: 25px;
}
#size {
 margin-right: 25px;
 border: none;
 box-shadow: 2px 6px 15px -4px rgba(0, 0, 0, 1);
 border-radius: 5px;
}

#weight{
  border: none;
  box-shadow: 2px 6px 15px -4px rgba(0, 0, 0, 1);
  border-radius: 5px;
}

#IMC{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 50px
}

input{
  height: 50px;
  width: 300px;
}


